$primary_color: black;

.badge {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 17px;
}

.elements {
    border: 2px solid $primary_color;
    border-radius: 10px;
}

.image {
    border-radius: 10px 10px 0 0;
}

.content {
    padding: 5px;
}